{{#if logged_in}}
  <div class="post-form">
    <form action="/api/posts" method="POST" enctype="multipart/form-data">
      <div class="row">

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required />
      </div>
      <div class="row">

        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
      </div>
      <div class="row">

        <button id="postBtn" type="submit">Post</button>
      </div>
    </form>
  </div>
{{/if}}
{{#each posts as |post|}}
  <article class="post">
    <div class="post-header">
      <!-- Small text area for post title or user's name -->
      <h2>{{post.title}}</h2>
      <a
        class="postUsername"
        href="/user/{{post.user.id}}"
      >{{post.user.username}}</a>

    </div>
    <div class="post-content">
      <div class="post-image">
        <!-- Assuming there is an image associated with each post -->
        {{!-- {{#if post.image_id}}
          <img src="{{post.image}}" alt="Post image" />
        {{/if}} --}}
      </div>
      <div class="post-body">
        <!-- Larger text area for the content of the post -->
        <p class="post-text">{{post.content}}</p>
        <!-- Add other post content like buttons or links -->
      </div>
    </div>
  </article>
{{else}}
  <p>No posts to display.</p>
{{/each}}