<section id="profile-info">
  <img src="https://cataas.com/cat" alt="Random Cat Pictures" />
  <h2>First Name: {{user.first_name}} Last Name: {{user.last_name}}</h2>
  <h3>{{user.first_name}}'s cat: {{user.cat_name}}</h3>
  <p>{{user.cat_name}}'s Age: {{user.cat_age}}</p>
  <p>{{user.cat_name}}'s Breed: {{user.cat_breed}}</p>
</section>
<section id="posts">
{{#each user.posts as |post|}}
  <article class="post">
    <div class="post-header">
      <!-- Small text area for post title or user's name -->
      <h2>{{post.title}}</h2>
      <h3>{{post.username}}</h3>

    </div>
    <div class="post-content">
      <div class="post-image">
        <!-- Assuming there is an image associated with each post -->
        {{!-- {{#if post.image_id}}
        <img src="{{post.image}}" alt="Post image" />
        {{/if}} --}}
      </div>
      <div class="post-body">
        <!-- Larger text area for the content of the post -->
        <p>{{post.content}}</p>
        <!-- Add other post content like buttons or links -->
      </div>
    </div>
  </article>
{{else}}
  <p>No posts to display.</p>
{{/each}}