<section id="profile-info">
  <img
    src="{{user.profilePicture}}"
    alt="{{user.name}}'s Profile Picture"
    class="profile-picture"
  />
  <h1>{{user.name}}</h1>
  <p>{{user.bio}}</p>
</section>
<section id="posts">
  {{#each user.posts}}
    <article class="post">
      <h2>{{this.title}}</h2>
      <p>{{this.content}}</p>
      <span>Posted on {{this.date}}</span>
    </article>
  {{/each}}
</section>